<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Entre Nous | tableau de bord{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

    {% endblock %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
</head>
<body class="gray-bg">
<div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><h1>Entre Nous</h1></a>


            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                <li class="nav-item">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                        <a class="nav-link " href="/deconnexion" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Déconnexion
                        </a>
                    {% endif %}
                    {# <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <a class="dropdown-item" href="#">Se connecter</a>
                         <a class="dropdown-item" href="#">S'inscrire</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#">Se déconnecter</a>
                     </div>#}
                </li>
            </ul>

    </nav>
</div>
<div class="ibox-content">
    <h2>Compte Client</h2>
    <div class="col-sm-12-offset-2">


        <div class="profile-image">
            <img src="http://localhost/assets/img/a4.jpg" class="rounded-circle circle-border m-b-md" alt="profile">
        </div>
        <div class="profile-info">
            <div class="">
                <div>
                    <h2 class="no-margins">
                        {{ client.nom }} {{ client.prenom }}
                    </h2>
                    <h4>{{ client.telephone }}</h4>
                    <h4>{{ client.email }}</h4>
                    <span>
                            {{ client.rue }}
                        {{ client.codepostall }}
                        {{ client.ville }}
                        </span>
                </div>
            </div>
        </div>
        <br><br>
        <div class="card-group col-xs-6 col-offset-2">
        <div class="card">

            <br/>


            <br/><br/>
            <h5 class="card-title commentaire-pizza">Encore <span class="nbPizzaRestante">0</span> pizza avant
                la pizza offerte !</h5>
            <h3 class="pizza-gratuite" style="display: none;font-family: 'VosterAlt'; font-weight: 600">La
                prochaine Pizza sera offerte !</h3>
            <div class="card-body">
                <h5 class="card-title">Carte n°1</h5>
                <div class="card-text">

                    <div class="container col-md-8 col-xs-12"
                         style="border: 1px solid black;text-align: center">
                        <h3 style="color: black">La fidélité n'est souvent qu'une question d'habitude</h3>
                        <div class="row col-xs-12"
                             style="margin-top: 50px; display: flex;justify-content:  center;">

                            {% for tampon in tampons %}
                                {% if loop.index <= 5 %}
                                    <label for="checkbox-tampon-{{ tampon.id }}" class="pizza-cadre" data-id="{{ tampon.id }}">
                                        <input class="form-group pizza checkbox-tampon-{{ tampon.id }}" id="checkbox-tampon-{{ tampon.id }}" style="display: none;" type="checkbox"
                                               data-id="{{ tampon.id }}"
                                               {% if tampon.is_Cocher == 1 %}checked="checked"{% endif %}>

                                        <img class="image-tampon-{{ tampon.id }} image-tampon" {% if tampon.is_Cocher == 1 %}style="display: inline-block;"{% else %}style="display: none;" {% endif %}
                                             src="{{ asset('images/tampons/') }}{{ tampon.image }}"  alt="">

                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="row col-xs-12"
                             style="margin-top: 20px; display: flex;justify-content:  center;">
                            {% for tampon in tampons %}
                                {% if loop.index > 5 %}
                                    <label for="checkbox-tampon-{{ tampon.id }}" class="pizza-cadre" data-id="{{ tampon.id }}">
                                        <input class="form-group pizza checkbox-tampon-{{ tampon.id }}" id="checkbox-tampon-{{ tampon.id }}" style="display: none;" type="checkbox"
                                               data-id="{{ tampon.id }}"
                                               {% if tampon.is_Cocher == 1 %}checked="checked"{% endif %}>

                                        <img class="image-tampon-{{ tampon.id }} image-tampon" {% if tampon.is_Cocher == 1 %}style="display: inline-block;"{% else %}style="display: none;" {% endif %}
                                             src="{{ asset('images/tampons/') }}{{ tampon.image }}"  alt="">

                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div id="div-pizza-gratuite" style="display: none;">
                            <label for="pizza-gratuite"><span style="font-size: 1.5em;margin-right: 10px;">Pizza gratuite</span></label>
                            <input id="pizza-gratuite" type="checkbox">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                {% if  carte.dernier_tampon is defined%}
                <small class="text-muted">Dernière Pizza achetée
                    le {{ carte.dernier_tampon|date('d/m/Y') }}</small>
                {% endif %}
            </div>
        </div>
        </div>

    </div>

</div>
<style>
    .pizza-cadre {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        background-color: white;
    }
    .image-tampon{
        width: 35px;
        height: 35px;
    }

    @media only screen and (max-width: 640px) {
        .pizza-cadre {
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            width: 30px;
            height: 30px;
            border: 1px solid black;
            background-color: white;
        }
        .image-tampon{
            width: 25px;
            height: 25px;
        }
    }
    </style>

</body>
</html>