<!DOCTYPE html>
<html>
    <head>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Entre Nous | tableau de bord{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

        {% endblock %}
        <link type="text/css" rel="stylesheet" href="{{ asset('fonts/Heritage-Font-Combinations/Voster Font.otf') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('fonts/Heritage-Font-Combinations/Heritage Font .otf') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('fonts/Heritage-Font-Combinations/Heritage Font .ttf') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('fonts/Heritage-Font-Combinations/Stylistic Alt.otf') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('fonts/Heritage-Font-Combinations/Stylistic Set 01.otf') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('fonts/Heritage-Font-Combinations/Stylistic Set 02.otf') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('fonts/Heritage-Font-Combinations/Stylistic Set 03.otf') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('fonts/Heritage-Font-Combinations/Stylistic Set 04.otf') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('fonts/Heritage-Font-Combinations/Stylistic Set 05.otf') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('fonts/Heritage-Font-Combinations/Swash.otf') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('fonts/Heritage-Font-Combinations/Voster Alt.otf') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('fonts/Heritage-Font-Combinations/Voster Font.ttf') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('fonts/Voster Alt.otf') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('fonts/Heritage Font .otf') }}">
    </head>
    <body class="gray-bg" style="height: 100%;">
 {#   <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><h1>Entre Nous</h1></a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Déconnexion</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('admin') }}">
                                <span data-feather="home"></span>
                                Tableau de bord <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                Clients
                            </a>
                        </li>

                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Last quarter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Social engagement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Year-end sale
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Tableau de bord</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <a href="{{ path('ajoutclient') }}" id="nouvau-client" class="btn btn-sm btn-outline-secondary">Nouveau Client</a>
                        </div>
                    </div>
                </div>


                <div class="wrapper wrapper-content  animated fadeInRight">
                    <div class="row">
                        <div class="col-sm-12">
                            #}{# div de load des pages #}{#
                            {% block content %}{% endblock %}
                        </div>

                    </div>
                </div>


            </main>
        </div>
    </div>#}
 <div class="d-flex toggled" id="wrapper" style="height: 100%;">

     <!-- Sidebar -->
     <div class="bg-light border-right" id="sidebar-wrapper" style="height: 100%;">
         <div class="sidebar-heading"><img src="{{ asset('images/entrenous/logo.png') }}" width="200" height="100" alt=""> </div>
         <div class="list-group list-group-flush">
             <a href="{{ path('administration') }}" class="list-group-item list-group-item-action bg-light">Administration</a>
             <a href="{{ path('listeclient') }}" class="list-group-item list-group-item-action bg-light">Clients</a>
             <a href="{{ path('interfaceemail') }}" class="list-group-item list-group-item-action bg-light">Email</a>
             <a href="#" class="list-group-item list-group-item-action bg-light">News Letters</a>
         </div>
     </div>
     <!-- /#sidebar-wrapper -->

     <!-- Page Content -->
     <div id="page-content-wrapper" style="height: 100%;">

         <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

             <button class="btn btn-primary"  id="menu-toggle">Espace Administration</button>




                 <ul class="navbar-nav ml-auto mt-2 mt-lg-0 inline" style="display: inline-block;">

                     <li class="nav-item inline">
                         {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                             <a class="nav-link " href="/deconnexion" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Déconnexion
                             </a>
                         {% else %}
                             <a class="nav-link" href="/connexion" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                 Connexion
                             </a>
                         {% endif %}
                         {# <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Se connecter</a>
                              <a class="dropdown-item" href="#">S'inscrire</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Se déconnecter</a>
                          </div>#}
                     </li>
                 </ul>


         </nav>

         <div class="container-fluid" style="height: 100%!important;">
             {% block content %}{% endblock %}
              </div>
     </div>
     <!-- /#page-content-wrapper -->

 </div>
 <!-- /#wrapper -->
    {% block javascripts %}
        {{ encore_entry_script_tags('dashbord') }}

        <!-- Renders app.js & a webpack runtime.js file
            <script src="/build/runtime.js"></script>
            <script src="/build/app.js"></script> -->
        <script src="{{ asset('js/inspinia.js') }}"></script>
        <script src="{{ asset('js/administration/utilisateur.js') }}"></script>
        <script src="{{ asset('js/plugins/iCheck/icheck.min.js') }}"></script>
        <script src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>
        <script src="{{ asset('js/plugins/summernote/summernote-bs4.js') }}"></script>
    {% endblock %}

 <!-- Mainly scripts -->


    </body>
</html>
