{% extends 'base.html.twig' %}
{% block content %}
    <style>
        input[type=checkbox]{
            /* Double-sized Checkboxes */
            -ms-transform: scale(2); /* IE */
            -moz-transform: scale(2); /* FF */
            -webkit-transform: scale(2); /* Safari and Chrome */
            -o-transform: scale(2); /* Opera */
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
<div class="ibox-content">

    <a class="btn btn-primary" href="{{ path('listeclient') }}">Retour à la liste</a>
    <br> <br>
    <h2>Compte Client</h2>
    <br>
    <div class="col-sm-12-offset-2">


            <div class="profile-image">
                <img src="{{ asset('images/a1.jpg') }}" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{ client.nom }} {{ client.prenom }}
                        </h2>
                        <h4>{{ client.telephone }}</h4>
                        <h4>{{ client.email }}</h4>
                        <span>
                            {{ client.rue }}
                            {{ client.codepostall }}
                            {{ client.ville }}
                        </span>
                    </div>
                </div>
            </div>
        <a class="btn btn-primary" id="modifier-info-client" href="#">Modifier les infos</a>
        <br>     <br>
        <div class="ibox-content" id="form-upadate-info" style="display: none;">

        <form class="col-sm-12-offset-2" action="{{ path('ajoutclient') }}" method="post">
            <input type="hidden" id="url-verif-mail" value="{{ path('verifemail') }}">
            <input type="hidden" name="idClient" value="{{ client.id }}">
            <div class="col-sm-10 col-sm-offset-2">
                <div class="form-group">
                    <label for="full-name">Nom</label>
                    <input type="text" name="nom" id="full-name" class="form-control" placeholder="Nom" required value="{{ client.nom }}">
                </div>
                <div class="form-group">
                    <label for="full-name">Prénom</label>
                    <input type="text" name="prenom" id="full-name" class="form-control" placeholder="Prénom" required value="{{ client.prenom }}">
                </div>
                <div class="form-group">
                    <label for="your-email">Email</label>
                    <input type="text" name="email" id="your-email" class="form-control" placeholder="Email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" value="{{ client.email }}">
                </div>
                <h3 id="email-exist" class="error" style="color: red;display: none;">Cette adresse mail existe déjà !</h3>

                <div class="form-group">
                    <label for="your-phone">Téléphone</label>
                    <input type="tel" name="telephone" id="your-phone" class="form-control" placeholder="Téléphone" value="{{ client.telephone }}">
                </div>
                <h3 id="tel-exist" class="error" style="color: red;display: none;">Cette numéro existe déjà !</h3>

                <div class="form-group">
                    <label for="your-phone">Adresse</label>
                    <input type="text" name="rue" id="rue" class="form-control" placeholder="rue" value="{{ client.rue }}">
                    <br>
                    <input type="text" name="codepostal" id="rue" class="form-control col-sm-4 inline" placeholder="code postal" value="{{ client.codepostall }}">
                    <input type="text" name="ville" id="rue" class="form-control col-sm-4 inline" placeholder="ville" value="{{ client.ville }}">
                </div>
                <div class="form-row-last">
                    <input type="submit" name="register" class="register btn btn-primary" value="Enregistrer">
                    <a class="btn btn-primary" id="annuler-modif-info-client" href="#">Annuler</a>
                </div>
            </div>
        </form>
        </div>
        <br><br>


        <div class="card-group col-xs-6 col-offset-2">
            <div class="card">

                <input type="hidden" id="carte_id" value="{{ carte.id }}">
                <input type="hidden" id="url-tampon" value="{{ path('ajouttampon') }}">
                <h5 class="card-title commentaire-pizza">Encore <span class="nbPizzaRestante">0</span> pizza avant la pizza gratuite !</h5>
                <h3 class="pizza-gratuite" style="display: none;font-family: VosterAlt; font-weight: 600">La prochaine Pizza sera gratuite !</h3>
                <div class="card-body">
                    <h5 class="card-title">Carte n°1</h5>
                    <div class="card-text">
                        <img class="image-template" style="display: none;" src="{{ asset('images/pizza.png') }}" width="45" height="45" alt="">
                        <div class="container col-xs-12" style="border: 1px solid rgba(233,162,137, 0.125);background-color:rgba(233,162,137, 0.1);text-align: center">
                            <div class="row col-xs-12" style="margin-top: 50px; display: block;margin-left:auto;margin-right: auto;">
                                <div class="pizza-cadre">
                                    <input class="form-group pizza" type="checkbox" style="display: none;" {% if carte.nb_tampon >= 1 %}checked{% endif %}>
                                    {% if carte.nb_tampon >= 1 %}
                                    <img class="image-tampon" style="display: block;" src="{{ asset('images/pizza.png') }}" width="45" height="45" alt="">
                                    {% endif %}
                                </div>
                                <div class="pizza-cadre">
                                    <input class="form-group pizza" type="checkbox" style="display: none;" {% if carte.nb_tampon >= 2 %}checked{% endif %}>
                                    {% if carte.nb_tampon >= 2 %}
                                    <img  class="image-tampon" style="display: block;" src="{{ asset('images/pizzaiolo.png') }}" width="45" height="45" alt="">
                                    {% endif %}
                                </div>
                                <div class="pizza-cadre">
                                    <input class="form-group pizza" type="checkbox" style="display: none;" {% if carte.nb_tampon >= 3 %}checked{% endif %}>
                                    {% if carte.nb_tampon >= 3 %}
                                        <img class="image-tampon"  style="display: block;" src="{{ asset('images/pizza.png') }}" width="45" height="45" alt="">
                                    {% endif %}
                                </div>
                                <div class="pizza-cadre">
                                    <input class="form-group pizza" type="checkbox" style="display: none;" {% if carte.nb_tampon >= 4 %}checked{% endif %}>
                                    {% if carte.nb_tampon >= 4 %}
                                        <img class="image-tampon"  style="display: block;" src="{{ asset('images/pizza.png') }}" width="45" height="45" alt="">
                                    {% endif %}
                                </div>
                                <div class="pizza-cadre">
                                    <input class="form-group pizza" type="checkbox" style="display: none;" {% if carte.nb_tampon >= 5 %}checked{% endif %}>
                                    {% if carte.nb_tampon >= 5 %}
                                        <img class="image-tampon"  style="display: block;" src="{{ asset('images/pizza.png') }}" width="45" height="45" alt="">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row col-xs-12" style="margin-top: 20px; display: block;margin-left:auto;margin-right: auto;">
                                <div class="pizza-cadre">
                                    <input class="form-group pizza" type="checkbox" style="display: none" {% if carte.nb_tampon >= 6 %}checked{% endif %}>
                                    {% if carte.nb_tampon >= 6 %}
                                        <img class="image-tampon"  style="display: block;" src="{{ asset('images/pizza.png') }}" width="45" height="45" alt="">
                                    {% endif %}
                                </div>
                                <div class="pizza-cadre">
                                    <input class="form-group pizza" type="checkbox" style="display: none" {% if carte.nb_tampon >= 7 %}checked{% endif %}>
                                    {% if carte.nb_tampon >= 7 %}
                                        <img class="image-tampon"  style="display: block;" src="{{ asset('images/pizza.png') }}" width="45" height="45" alt="">
                                    {% endif %}
                                </div>
                                <div class="pizza-cadre">
                                    <input class="form-group pizza" type="checkbox" style="display: none" {% if carte.nb_tampon >= 8 %}checked{% endif %}>
                                    {% if carte.nb_tampon >= 8 %}
                                        <img class="image-tampon"  style="display: block;" src="{{ asset('images/pizza.png') }}" width="45" height="45" alt="">
                                    {% endif %}
                                </div>
                                <div class="pizza-cadre">
                                    <input class="form-group pizza" type="checkbox" style="display: none" {% if carte.nb_tampon >= 9 %}checked{% endif %}>
                                    {% if carte.nb_tampon >= 9 %}
                                        <img class="image-tampon"  style="display: block;" src="{{ asset('images/pizza.png') }}" width="45" height="45" alt="">
                                    {% endif %}
                                </div>
                                <div class="pizza-cadre">
                                    <input class="form-group pizza" type="checkbox" style="display: none" {% if carte.nb_tampon == 10 %}checked{% endif %}>
                                    {% if carte.nb_tampon == 10 %}
                                        <img class="image-tampon"  style="display: block;" src="{{ asset('images/pizza.png') }}" width="45" height="45" alt="">
                                    {% endif %}
                                </div>
                            </div>


                            <div id="div-pizza-gratuite" style="display: none;">
                                <label for="pizza-gratuite"><span style="font-size: 1.5em;margin-right: 10px;">Pizza gratuite</span></label>
                            <input id="pizza-gratuite" type="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Dernière Pizza achetée le {{ carte.dernier_tampon|date('d/m/Y') }}</small>
                </div>
            </div>


        </div>

    </div>

    </div>
    <style>
        .pizza-cadre{
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            width: 50px;
            height: 50px;
            border: 1px solid black;
            background-color: white;
        }</style>
{% endblock %}