{% extends 'base.html.twig' %}
{% block content %}
<div class="ibox-content">
    <h2>Compte Client</h2>
    <div class="col-sm-12-offset-2">


            <div class="profile-image">
                <img src="http://localhost/assets/img/a4.jpg" class="rounded-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{ client.nom }} {{ client.prenom }}
                        </h2>
                        <h4>{{ client.telephone }}</h4>
                        <h4>{{ client.email }}</h4>
                        <span>
                            {{ client.rue }}
                            {{ client.codepostall }}
                            {{ client.ville }}
                        </span>
                    </div>
                </div>
            </div>


    </div>

    </div>
{% endblock %}